<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
  <style>
    .btt{
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>
<body>
  <nav>
    <h4>Jagrati Classes</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/main">About Us</a></li>
      {{#if user }}
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Enter Login Details or Sign Up</h1>
      <p class="lead">To Be a Part of Jagrati Family.</p>
      <hr class="my-4">
      <p>Sign in Or Register if you are <b> Owner </b> or <b> Teacher</b> </p>
      <div class="btt">
      <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a></div>
      <br>
      <h2> <i> To know about Jagrati <a class="btn btn-primary btn-lg" href="/main" role="button">Click here</a> </i></h2>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>